<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        ngSrc="assets/images/slides/gallery1.jpg"
        alt="slide1"
        class="d-block"
        width="1920"
        height="800"
        priority
        sizes="(min-width: 375px) 100vw, 50vw"
      />
    </div>
    <div class="carousel-item">
      <img
        ngSrc="assets/images/slides/gallery2.jpg"
        alt="slide2"
        class="d-block"
        width="1920"
        height="600"
        priority
        sizes="(min-width: 375px) 100vw, 50vw"
      />
    </div>
    <div class="carousel-item">
      <img
        ngSrc="assets/images/slides/gallery3.jpg"
        alt="slide3"
        class="d-block"
        width="1920"
        height="600"
        priority
        sizes="(min-width: 375px) 100vw, 50vw"
      />
    </div>
    <div class="carousel-item">
      <img
        ngSrc="assets/images/slides/gallery4.jpg"
        alt="slide3"
        class="d-block"
        width="1920"
        height="600"
        priority
        sizes="(min-width: 375px) 100vw, 50vw"
      />
    </div>
    <div class="carousel-item">
      <img
        ngSrc="assets/images/slides/gallery5.jpg"
        alt="slide3"
        class="d-block"
        width="1920"
        height="600"
        priority
        sizes="(min-width: 375px) 100vw, 50vw"
      />
    </div>
    <div class="carousel-item">
      <img
        ngSrc="assets/images/slides/gallery6.jpg"
        alt="slide3"
        class="d-block"
        width="1920"
        height="600"
        priority
        sizes="(min-width: 375px) 100vw, 50vw"
      />
    </div>
    <div class="carousel-item">
      <img
        ngSrc="assets/images/slides/gallery6-2.png"
        alt="slide3"
        class="d-block"
        width="1920"
        height="600"
        priority
        sizes="(min-width: 375px) 100vw, 50vw"
      />
    </div>
    <div class="carousel-item">
      <img
        ngSrc="assets/images/slides/gallery7.png"
        alt="slide3"
        class="d-block"
        width="1920"
        height="600"
        priority
        sizes="(min-width: 375px) 100vw, 50vw"
      />
    </div>
    <div class="carousel-item">
      <img
        ngSrc="assets/images/slides/gallery8.png"
        alt="slide3"
        class="d-block"
        width="1920"
        height="600"
        priority
        sizes="(min-width: 375px) 100vw, 50vw"
      />
    </div>
    <div class="carousel-item">
      <img
        ngSrc="assets/images/slides/gallery9.png"
        alt="slide3"
        class="d-block"
        width="1920"
        height="600"
        priority
        sizes="(min-width: 375px) 100vw, 50vw"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col text-center">
      <div class="feature-icon">
        <i
          class="bi bi-images"
          style="font-size: 4rem; color: cornflowerblue"
        ></i>
      </div>
      <h2>Gallery</h2>
      <p>
        There are galleries in this section for illustration, Vtube model, and
        Charactor design.
      </p>
      <a href="#demo" class="icon-link">
        More info
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>
    <div class="feature col text-center">
      <div class="feature-icon">
        <i
          class="bi bi-info-circle"
          style="font-size: 4rem; color: cornflowerblue"
        ></i>
      </div>
      <h2>Commission</h2>
      <p>
        Detail information on commissions available. Currently I only accept
        commission for Vtube model, other types will be available at a later
        time.
      </p>
      <a href="#demo" class="icon-link">
        More info
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>
    <div class="feature col text-center">
      <div class="feature-icon">
        <i
          class="bi bi-card-list"
          style="font-size: 4rem; color: cornflowerblue"
        ></i>
      </div>
      <h2>Terms of Service</h2>
      <p>
        Detail information on terms of service, timeline process and payment.
      </p>
      <a href="#demo" class="icon-link">
        More info
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>
  </div>
</div>
